.navbar {
    background-image: url('general_img/bg_blue.jpeg');
    background-size: cover;
    background-position: 75% 51%;
    
  }
  

      
/* .page-footer {
    background-image: url('https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-4.0.3&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=3600');
    background-size: cover;
    background-position: center;
    
  }  */

  /* .content {
    background-color: #fff; /* Add this line to cancel the background influence */
  } */

body::before {
  content: "";
  position: fixed;
  top: 100;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('general_img/bg.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.1;
}
  

/* .content {
  background-image: url('https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixlib=rb-4.0.3&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=3600');
  background-size: cover;
  background-position: center;
} */
  




/* Style the scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Style the scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}